@{
    ViewData["Title"] = "Thanks";
}

<h1>Thanks for your interest to contact me!</h1>
<p>
    I will get back to you as soon as possible.
</p>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
